@import 'tailwindcss';

@plugin "@midudev/tailwind-animations";

body {
  height: 100dvh;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
input,
[role='button'] {
  touch-action: manipulation;
}
